@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', 'sans-serif';
    scroll-behavior: smooth;
    overflow-x: hidden;
} 
